@import 'tailwindcss';

@theme {
  --default-font-family: 'Open Sans', var(--font-sans);

  --color-brand-gray-1: #dadce0;
  --color-brand-gray-2: #f8f9f1;
  --color-brand-gray-3: #80868b;
  --color-brand-blue-1: #1967d2;
  --color-brand-blue-2: #4285f4;
  --color-brand-green-1: #137333;

  --shadow-blue: 0 0 3px 3px #4285f4;
  --shadow-gray: 0 1px 3px 0 rgba(60, 64, 67, 0.3);
}
